{% extends 'weather/wrapper.html' %}

{% block weather %}
    <div class="container d-flex justify-content-center align-items-center m-5">
        <form method="POST" class="w-50 d-flex flex-row align-items-center m-5">
            {% csrf_token %}
            
            <input type="text" name="city" placeholder="Enter city name" class="form-control">
            <button class="btn btn-primary" value="submit">Add City</button>
        </form>
    </div>

    <div class="container">
        <div class="row w-100 d-flex flex-column justify-content-center align-items-center">
            {% for weather in weather_data %}
                <div class="col-8 w-auto m-2">
                    <div>
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
                    </div>
                    <div>
                        <h2>{{ weather.city }}</h2>
                    </div>
                    <div>
                        <h3>{{ weather.temperature }}°C</h3>
                    </div>
                    <div>
                        <h3>{{ weather.description }}</h3>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>
{% endblock %}